body {
  overflow-x: hidden;
}

.logo-navbar {
  width: 100px;
  height: 100px;
}

/* .card-img-top {
  height: 200px;
  object-fit: cover;
} */

.input-search {
  width: 30rem;
}

@media only screen and (max-width: 430px) {
  .input-search {
    width: 75%;
  }
}
